In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns',100)
pd.set_option('expand_frame_repr',False)

In [3]:
train_data=pd.read_csv(r'trainDataAfterCleaning.csv')

In [4]:
train_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200

In [5]:
data=train_data.drop(['price','SaleID'],axis=1)

In [6]:
label=train_data[['price']]

In [8]:
data.head()

     name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14
0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762
1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522
2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963
3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699
4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482

In [11]:
x_train.shape

(84374, 29)

In [9]:
#切分数据
from sklearn.model_selection import train_test_split
x_train_all,x_test,y_train_all,y_test=train_test_split(
    data,label,random_state=7)
x_train,x_valid,y_train,y_valid=train_test_split(
    x_train_all,y_train_all,random_state=7)

In [10]:
#归一化
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaler=scaler.fit_transform(x_train)
x_test_scaler=scaler.transform(x_test)
x_valid_scaler=scaler.transform(x_valid)