In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import time

In [2]:
pd.set_option("display.max_columns",100)
pd.set_option("expand_frame_repr",False)

In [3]:
train_data=pd.read_csv(r"D:\文件\学习\数据集\二手车交易\trainDataAfterCleaning.csv",index_col=False)
test_data=pd.read_csv(r"D:\文件\学习\数据集\二手车交易\testDataAfterCleaning.csv",index_col=False)

In [4]:
train_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149999 entries, 0 to 149998
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             149999 non-null  int64
 1   name               149999 non-null  int64
 2   regDate            149999 non-null  int64
 3   model              149999 non-null  float64
 4   brand              149999 non-null  int64
 5   bodyType           149999 non-null  float64
 6   fuelType           149999 non-null  float64
 7   gearbox            149999 non-null  float64
 8   power              149999 non-null  int64
 9   kilometer          149999 non-null  float64
 10  notRepairedDamage  149999 non-null  float64
 11  regionCode         149999 non-null  int64
 12  seller             149999 non-null  int64
 13  offerType          149999 non-null  int64
 14  creatDate          149999 non-null  int64
 15  v_0                149999 non-null  float64
 16  v_1                149999 non-null  float64
 17  v_2                149999 non-null  float64
 18  v_3                149999 non-null  float64
 19  v_4                149999 non-null  float64
 20  v_5                149999 non-null  float64
 21  v_6                149999 non-null  float64
 22  v_7                149999 non-null  float64
 23  v_8                149999 non-null  float64
 24  v_9                149999 non-null  float64
 25  v_10               149999 non-null  float64
 26  v_11               149999 non-null  float64
 27  v_12               149999 non-null  float64
 28  v_13               149999 non-null  float64
 29  v_14               149999 non-null  float64
 30  price              149999 non-null  int64
dtypes: float64(21), int64(10)
memory usage: 35.5 MB

In [6]:
test_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14
0  200000  133777  20000501   67.0      0       1.0       0.0      0.0    101       15.0                0.0        5019       0          0   20160308  42.142061 -3.094739 -0.721300  1.466344  1.009846  0.236520  0.000241  0.105319  0.046233  0.094522  3.619512 -0.280607 -2.019761  0.978828  0.803322
1  200001   61206  19950211   19.0      6       2.0       0.0      0.0     73        6.0                0.0        1505       0          0   20160310  43.907034 -3.244605 -0.766430  1.276718 -1.065338  0.261518  0.000000  0.120323  0.046784  0.035385  2.997376 -1.406705 -1.020884 -1.349990 -0.200542
2  200002   67829  20090606    5.0      5       4.0       0.0      0.0    120        5.0                0.0        1776       0          0   20160309  45.389665  3.372384 -0.965565 -2.447316  0.624268  0.261691  0.090836  0.000000  0.079655  0.073586 -3.951084 -0.433467  0.918964  1.634604  1.027173
3  200003    8892  20020601   22.0      9       1.0       0.0      0.0     58       15.0                0.0          26       0          0   20160314  42.788775  4.035052 -0.217403  1.708806  1.119165  0.236050  0.101777  0.098950  0.026830  0.096614 -2.846788  2.800267 -2.524610  1.076819  0.461610
4  200004   76998  20030301   46.0      6       0.0       0.0      0.0    116       15.0                0.0         738       0          0   20160306  43.670763 -3.135382 -1.134107  0.470315  0.134032  0.257000  0.000000  0.066732  0.057771  0.068852  2.839010 -1.659801 -0.924142  0.199423  0.451014

In [7]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SaleID             50000 non-null  int64
 1   name               50000 non-null  int64
 2   regDate            50000 non-null  int64
 3   model              50000 non-null  float64
 4   brand              50000 non-null  int64
 5   bodyType           50000 non-null  float64
 6   fuelType           50000 non-null  float64
 7   gearbox            50000 non-null  float64
 8   power              50000 non-null  int64
 9   kilometer          50000 non-null  float64
 10  notRepairedDamage  50000 non-null  float64
 11  regionCode         50000 non-null  int64
 12  seller             50000 non-null  int64
 13  offerType          50000 non-null  int64
 14  creatDate          50000 non-null  int64
 15  v_0                50000 non-null  float64
 16  v_1                50000 non-null  float64
 17  v_2                50000 non-null  float64
 18  v_3                50000 non-null  float64
 19  v_4                50000 non-null  float64
 20  v_5                50000 non-null  float64
 21  v_6                50000 non-null  float64
 22  v_7                50000 non-null  float64
 23  v_8                50000 non-null  float64
 24  v_9                50000 non-null  float64
 25  v_10               50000 non-null  float64
 26  v_11               50000 non-null  float64
 27  v_12               50000 non-null  float64
 28  v_13               50000 non-null  float64
 29  v_14               50000 non-null  float64
dtypes: float64(21), int64(9)
memory usage: 11.4 MB

In [8]:
#定义删除字段的函数
def delete(data,col_name):
    data=data.drop(col_name,axis=1)
    return data

In [9]:
#特征工程

In [10]:
#查看样本train,test的重合度
train_name_data=train_data[['name']].copy().drop_duplicates()
test_name_data=test_data[["name"]].copy().drop_duplicates()

In [13]:
train_name_data["train_flag"]=1

In [15]:
name_merge=test_name_data.merge(train_name_data,on='name',how='left')

In [16]:
#训练集合中有多少name是在train中出现过的
len(merge_name[merge_name['train_flag']==1])/len(train_name_data)

0.3766367987477549

In [17]:
len(name_merge)

37536

In [18]:
train_fileids=train_data['name'].unique()
test_fileids=test_data['name'].unique()

In [22]:
len(set(train_fileids)-set(test_fileids))

91123

In [23]:
len(set(test_fileids)-set(train_fileids))

28998

In [26]:
#构造统计字段数据个数的函数
def add_count_new_feature(df,col_name,new_feature_name):
    df_col=df[[col_name]]
    df_col[new_feature_name]=1
    df_col=df_col.groupby(col_name).agg('sum').reset_index()
    df=df.merge(df_col,on=col_name,how='left')
    return df

In [27]:
#调用函数
train_data=add_count_new_feature(train_data,'name','name_count')
train_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price  name_count
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850          78
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600          19
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222           2
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400           2
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200           1

In [28]:
#生成brand的计数列
train_data=add_count_new_feature(train_data,'brand','brand_count')
train_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price  name_count  brand_count
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850          78        10217
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600          19        13794
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222           2         1458
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400           2        14249
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200           1         4665

In [29]:
#生成字段bodyType的计数列
train_data=add_count_new_feature(train_data,'bodyType','bodeType_count')
train_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price  name_count  brand_count  bodeType_count
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850          78        10217           39778
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600          19        13794           30324
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222           2         1458           39778
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400           2        14249           41420
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200           1         4665           39778

In [30]:
#生成字段fuelType字段计数列
train_data=add_count_new_feature(train_data,'fuelType','fuelType_count')
train_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price  name_count  brand_count  bodeType_count  fuelType_count
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850          78        10217           39778          100336
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600          19        13794           30324          100336
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222           2         1458           39778          100336
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400           2        14249           41420          100336
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200           1         4665           39778          100336

In [31]:
#生成地区编码regionCode的字段的计数列
train_data=add_count_new_feature(train_data,'regionCode','fuelType_count')
train_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price  name_count  brand_count  bodeType_count  fuelType_count_x  fuelType_count_y
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850          78        10217           39778            100336                34
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600          19        13794           30324            100336                 8
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222           2         1458           39778            100336                17
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400           2        14249           41420            100336                38
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200           1         4665           39778            100336                 4

In [32]:
#删去无用的特征SaleID
train_data=train_data.drop('SaleID',axis=1)
train_data.head()

     name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price  name_count  brand_count  bodeType_count  fuelType_count_x  fuelType_count_y
0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850          78        10217           39778            100336                34
1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600          19        13794           30324            100336                 8
2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222           2         1458           39778            100336                17
3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400           2        14249           41420            100336                38
4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200           1         4665           39778            100336                 4

In [34]:
#标准化
from sklearn.preprocessing import StandardScaler
data=train_data.drop('price',axis=1)
label=train_data['price']
data=StandardScaler().fit_transform(data)

In [37]:
data=pd.DataFrame(data)
data.columns=train_data.drop('price',axis=1).columns

In [38]:
data.head()

       name   regDate     model     brand  bodyType  fuelType   gearbox     power  kilometer  notRepairedDamage  regionCode    seller  offerType  creatDate       v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  name_count  brand_count  bodeType_count  fuelType_count_x  fuelType_count_y
0 -1.106526  0.116167 -0.345790 -0.260985 -0.441885 -0.656031 -0.524841 -0.334801  -0.024807          -0.324811   -0.815274 -0.002582        0.0   0.685901 -0.426644  1.101390 -0.010422  1.026863  0.943382 -0.273517  1.102861  0.024107 -1.210454  0.993764 -0.763653  0.850575 -0.963515  0.616959  0.881615    1.790170    -0.413442        0.705192          0.686631         -0.213026
1 -1.081552 -0.072112 -0.143916 -0.896745  0.133083 -0.656031 -0.524841 -0.673462   0.613033          -0.324811    0.945662 -0.002582        0.0  -0.204172  0.365807  1.450046  0.019503  0.642400 -1.206498  0.361833  1.470359  0.054801 -1.080898 -1.160372 -1.298773  0.635193 -0.411241 -1.336973  0.237151    0.172971    -0.065784       -0.022980          0.686631         -1.013544
2 -0.875148  0.116186  1.370138  0.883384 -0.441885 -0.656031 -0.524841  0.246567  -0.024807          -0.324811    0.118235 -0.002582        0.0   0.667162  0.639694  1.336830  0.422834 -0.531650 -0.850200  0.069998  1.352636  0.200856  0.138071 -0.978437 -1.284529  0.546095  0.619876 -0.646347 -0.220731   -0.293002    -1.264751        0.705192          0.686631         -0.736441
3  0.057548 -1.365574  1.249014  0.247623 -1.016854 -0.656031  1.905338  0.415898   0.613033          -0.324811   -1.139880 -0.002582        0.0  -0.176065  0.521331  1.245883 -0.044854  0.397112 -1.881733  0.569588  1.263499 -0.013552 -0.847999 -1.737057 -1.195156  0.388576 -0.201263 -1.892337 -0.460259   -0.293002    -0.021562        0.831663          0.686631         -0.089869
4  0.699327  1.601767  1.269201 -0.388137 -0.441885 -0.656031 -0.524841 -0.289646  -1.938326          -0.324811    2.330543 -0.002582        0.0  -0.166696 -0.009269  0.570097  0.167729 -0.814302  1.866946 -0.440322  0.546585 -0.162916  0.708455  1.668259 -0.502396  0.274410  0.367949  2.199390  1.852991   -0.320412    -0.953055        0.705192          0.686631         -1.136700

In [39]:
#使用Kfolder切分数据集
from sklearn.model_selection import KFold
kf=KFold(n_splits=5)
for train_index,test_index in kf.split(data):
    x_train=data.values[train_index]
    x_test=data.values[test_index]
    y_train=label.values[train_index]
    y_test=label.values[test_index]

In [40]:
#决策树算法
from sklearn.tree import DecisionTreeRegressor
model_dtr=DecisionTreeRegressor()
model_dtr.fit(x_train,y_train)
model_dtr.score(x_test,y_test)

0.9162453932049781

In [41]:
#随机森林
from sklearn.ensemble import RandomForestRegressor
model_rfr=RandomForestRegressor()
model_rfr.fit(x_train,y_train)
model_rfr.score(x_test,y_test)

0.9619652896985207

In [42]:
#xgb
from xgboost import XGBRegressor
model_xgb=XGBRegressor()
model_xgb.fit(x_train,y_train)
model_xgb.score(x_test,y_test)

0.9652355943944639

In [43]:
from sklearn.metrics import mean_squared_error
def predict_data(model,x_test,y_test):
    y_pred=model.predict(x_test)
    mse=mean_squared_error(y_test,y_pred)
    return print("{}".format(model),mse)

In [44]:
mse_rfr=predict_data(model_rfr,x_test,y_test)
mse_rfr

RandomForestRegressor() 2111816.476897056

In [45]:
mse_xgb=predict_data(model_xgb,x_test,y_test)
mse_xgb

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None) 1930238.0374499166

In [46]:
#模型融合
def Mean_method(test_pred1,test_pred2):
    Mean_result=pd.concat([pd.Series(test_pred1),pd.Series(test_pred2)],axis=1).mean(axis=1)
    return Mean_result

In [47]:
test_pred1=model_rfr.predict(x_test)
test_pred2=model_xgb.predict(x_test)

In [48]:
mean_pred=Mean_method(test_pred1,test_pred2)
mse_mean=mean_squared_error(y_test,mean_pred)
mse_mean

1839968.6609042927