In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
pd.set_option("display.max_column",100)
pd.set_option("expand_frame_repr",False)

In [3]:
train_data_file=r"D:\文件\学习\jupyter项目\天池大赛\01工业蒸汽量\Data\zhengqi_train.txt"
test_data_file=r"D:\文件\学习\jupyter项目\天池大赛\01工业蒸汽量\Data\zhengqi_test.txt"
train_data=pd.read_csv(train_data_file,sep="\t",encoding="utf-8")
test_data=pd.read_csv(test_data_file,sep="\t",encoding="utf-8")

In [4]:
train_data.head(3)

      V0     V1     V2     V3     V4     V5     V6    V7     V8     V9    V10    V11    V12    V13    V14    V15    V16    V17    V18    V19    V20    V21    V22    V23    V24    V25    V26    V27    V28    V29    V30    V31    V32    V33    V34    V35    V36    V37  target
0  0.566  0.016 -0.143  0.407  0.452 -0.901 -1.812 -2.36 -0.436 -2.114 -0.940 -0.307 -0.073  0.550 -0.484  0.000 -1.707 -1.162 -0.573 -0.991  0.610 -0.400 -0.063  0.356  0.800 -0.223  0.796  0.168 -0.450  0.136  0.109 -0.615  0.327 -4.627 -4.789 -5.101 -2.608 -3.508   0.175
1  0.968  0.437  0.066  0.566  0.194 -0.893 -1.566 -2.36  0.332 -2.114  0.188 -0.455 -0.134  1.109 -0.488  0.000 -0.977 -1.162 -0.571 -0.836  0.588 -0.802 -0.063  0.357  0.801 -0.144  1.057  0.338  0.671 -0.128  0.124  0.032  0.600 -0.843  0.160  0.364 -0.335 -0.730   0.676
2  1.013  0.568  0.235  0.370  0.112 -0.797 -1.367 -2.36  0.396 -2.114  0.874 -0.051 -0.072  0.767 -0.493 -0.212 -0.618 -0.897 -0.564 -0.558  0.576 -0.477 -0.063  0.355  0.961 -0.067  0.915  0.326  1.287 -0.009  0.361  0.277 -0.116 -0.843  0.160  0.364  0.765 -0.589   0.633

In [5]:
test_data.head(3)

      V0     V1     V2     V3     V4     V5     V6     V7     V8     V9    V10    V11    V12    V13    V14    V15    V16    V17    V18    V19    V20    V21    V22    V23    V24    V25    V26    V27    V28    V29    V30    V31    V32    V33    V34    V35    V36    V37
0  0.368  0.380 -0.225 -0.049  0.379  0.092  0.550  0.551  0.244  0.904 -0.419  0.515  0.346 -0.114 -0.204  0.239 -0.089  0.961  0.247  0.899 -0.252  0.628 -0.063  0.098 -1.314 -0.662 -0.596  0.208 -0.449  0.047  0.057 -0.042  0.847  0.534 -0.009 -0.190 -0.567  0.388
1  0.148  0.489 -0.247 -0.049  0.122 -0.201  0.487  0.493 -0.127  0.904 -0.403 -0.324  0.465  0.653  0.148 -0.113 -0.093  0.961  0.073  1.168 -0.276  0.009 -0.063  0.090 -1.310 -0.646 -0.776  0.226 -0.443  0.047  0.560  0.176  0.551  0.046 -0.220  0.008 -0.294  0.104
2 -0.166 -0.062 -0.311  0.046 -0.055  0.063  0.485  0.493 -0.227  0.904  0.330  0.389  0.173  0.398  0.068 -0.192 -0.061  0.961  0.070  0.980 -0.340  0.270 -0.063  0.091 -1.310 -0.473 -0.607  0.084 -0.458 -0.398  0.101  0.199  0.634  0.017 -0.234  0.008  0.373  0.569

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2888 entries, 0 to 2887
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V0      2888 non-null   float64
 1   V1      2888 non-null   float64
 2   V2      2888 non-null   float64
 3   V3      2888 non-null   float64
 4   V4      2888 non-null   float64
 5   V5      2888 non-null   float64
 6   V6      2888 non-null   float64
 7   V7      2888 non-null   float64
 8   V8      2888 non-null   float64
 9   V9      2888 non-null   float64
 10  V10     2888 non-null   float64
 11  V11     2888 non-null   float64
 12  V12     2888 non-null   float64
 13  V13     2888 non-null   float64
 14  V14     2888 non-null   float64
 15  V15     2888 non-null   float64
 16  V16     2888 non-null   float64
 17  V17     2888 non-null   float64
 18  V18     2888 non-null   float64
 19  V19     2888 non-null   float64
 20  V20     2888 non-null   float64
 21  V21     2888 non-null   float64
 22  V22     2888 non-null   float64
 23  V23     2888 non-null   float64
 24  V24     2888 non-null   float64
 25  V25     2888 non-null   float64
 26  V26     2888 non-null   float64
 27  V27     2888 non-null   float64
 28  V28     2888 non-null   float64
 29  V29     2888 non-null   float64
 30  V30     2888 non-null   float64
 31  V31     2888 non-null   float64
 32  V32     2888 non-null   float64
 33  V33     2888 non-null   float64
 34  V34     2888 non-null   float64
 35  V35     2888 non-null   float64
 36  V36     2888 non-null   float64
 37  V37     2888 non-null   float64
 38  target  2888 non-null   float64
dtypes: float64(39)
memory usage: 880.1 KB

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Data columns (total 38 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V0      1925 non-null   float64
 1   V1      1925 non-null   float64
 2   V2      1925 non-null   float64
 3   V3      1925 non-null   float64
 4   V4      1925 non-null   float64
 5   V5      1925 non-null   float64
 6   V6      1925 non-null   float64
 7   V7      1925 non-null   float64
 8   V8      1925 non-null   float64
 9   V9      1925 non-null   float64
 10  V10     1925 non-null   float64
 11  V11     1925 non-null   float64
 12  V12     1925 non-null   float64
 13  V13     1925 non-null   float64
 14  V14     1925 non-null   float64
 15  V15     1925 non-null   float64
 16  V16     1925 non-null   float64
 17  V17     1925 non-null   float64
 18  V18     1925 non-null   float64
 19  V19     1925 non-null   float64
 20  V20     1925 non-null   float64
 21  V21     1925 non-null   float64
 22  V22     1925 non-null   float64
 23  V23     1925 non-null   float64
 24  V24     1925 non-null   float64
 25  V25     1925 non-null   float64
 26  V26     1925 non-null   float64
 27  V27     1925 non-null   float64
 28  V28     1925 non-null   float64
 29  V29     1925 non-null   float64
 30  V30     1925 non-null   float64
 31  V31     1925 non-null   float64
 32  V32     1925 non-null   float64
 33  V33     1925 non-null   float64
 34  V34     1925 non-null   float64
 35  V35     1925 non-null   float64
 36  V36     1925 non-null   float64
 37  V37     1925 non-null   float64
dtypes: float64(38)
memory usage: 571.6 KB