In [1]:
import pandas as pd
import numpy as np

In [29]:
pd.set_option('display.max_columns',100)
pd.set_option('expand_frame_repr',False)
pd.set_option('display.float_format',lambda x:'%.2f' % x)

In [3]:
df = pd.read_excel(r'C:\Users\xiongyuan\Desktop\gold.xlsx')

In [4]:
data = df.copy()

In [20]:
data.head()

   Unnamed: 0           version_date name_list  open_value_list  max_list  min_list  close_list  difference_list difference_rate_list  avg_value_list  deal_list    deal_value_list
0           0  上海黄金交易所2021年2月25日交易行情   Au(T+D)           377.10    377.10    372.00      372.80            -4.46               -1.18%          374.13  39,614.00  14,821,052,500.00
1           1  上海黄金交易所2021年2月24日交易行情   Au(T+D)           377.60    378.50    375.00      377.19            -0.34               -0.09%          377.26  30,962.00  11,680,726,600.00
2           2  上海黄金交易所2021年2月23日交易行情   Au(T+D)           374.92    379.08    374.51      377.44             4.56                1.22%          377.53  37,478.00  14,149,077,800.00
3           3  上海黄金交易所2021年2月22日交易行情   Au(T+D)           369.34    375.00    369.21      374.46             4.33                1.17%          372.88  46,176.00  17,218,485,400.00
4           4  上海黄金交易所2021年2月19日交易行情   Au(T+D)           371.92    373.60    368.20      370.04            -1.00               -0.27%          370.13  41,256.00  15,270,420,540.00

In [30]:
df.head()

  version_date name_list  open_value_list  max_list  min_list  close_list  difference_list  difference_rate_list  avg_value_list  deal_list  deal_value_list
0   2021-02-25   Au(T+D)           377.10    377.10    372.00      372.80            -4.46                 -0.01          374.13   39614.00   14821052500.00
1   2021-02-24   Au(T+D)           377.60    378.50    375.00      377.19            -0.34                 -0.00          377.26   30962.00   11680726600.00
2   2021-02-23   Au(T+D)           374.92    379.08    374.51      377.44             4.56                  0.01          377.53   37478.00   14149077800.00
3   2021-02-22   Au(T+D)           369.34    375.00    369.21      374.46             4.33                  0.01          372.88   46176.00   17218485400.00
4   2021-02-19   Au(T+D)           371.92    373.60    368.20      370.04            -1.00                 -0.00          370.13   41256.00   15270420540.00

In [6]:
#数据清洗
df = df.drop('Unnamed: 0',axis=1)

In [7]:
df['version_date'] = df['version_date'].str.replace('上海黄金交易所','')

In [8]:
df['version_date'] = df['version_date'].str.replace('交易行情','')

In [9]:
df['version_date'] = df['version_date'].str.replace('年','-')

In [10]:
df['version_date'] = df['version_date'].str.replace('月','-')

In [11]:
df['version_date'] = df['version_date'].str.replace('日','')

In [12]:
df['deal_list'] = df['deal_list'].str.replace(',','')

In [13]:
df['deal_value_list'] = df['deal_value_list'].str.replace(',','')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3160 entries, 0 to 3159
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   version_date          3160 non-null   datetime64[ns]
 1   name_list             3160 non-null   object
 2   open_value_list       3160 non-null   float64
 3   max_list              3160 non-null   float64
 4   min_list              3160 non-null   float64
 5   close_list            3160 non-null   float64
 6   difference_list       3160 non-null   float64
 7   difference_rate_list  3160 non-null   float64
 8   avg_value_list        3160 non-null   float64
 9   deal_list             3160 non-null   float64
 10  deal_value_list       3160 non-null   float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 271.7+ KB

In [15]:
df['version_date'] = pd.to_datetime(df['version_date'])

In [16]:
df['difference_rate_list'] = df['difference_rate_list'].str.replace('%','')

In [17]:
df = df.astype({'difference_rate_list':float})

In [18]:
df['difference_rate_list'] = df['difference_rate_list']*0.01

In [24]:
df = df.astype({'deal_list':float,'deal_value_list':float})

In [32]:
df.to_excel(r'C:\Users\xiongyuan\Desktop\gold_clean.xlsx')