In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_column",100)
pd.set_option("expand_frame_repr",False)

In [9]:
df=pd.read_csv(r"D:\文件\学习\数据集\广东气象资料\S202008051600018847600\S202008051600018847600.txt",sep=" ",index_col=False)

In [10]:
df.head()

   V01301  V_TIME_AVAILA  V04292  V12001_701  V12001_701_05  V12001_701_06  V13004_701  V13305_701  V13306_701  V11002_701
0   57988      119812010       1        10.0           15.7            6.5         9.6         0.6         0.6         1.0
1   57988      119812010       2        10.0           15.6            6.5         9.8         0.7         0.5         0.9
2   57988      119812010       3         9.9           15.4            6.5        10.0         1.7         1.1         1.1
3   57988      119812010       4         9.9           15.3            6.5         9.8         5.7         2.6         1.1
4   57988      119812010       5         9.8           15.1            6.5         9.7         3.7         6.5         0.9

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34310 entries, 0 to 34309
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   V01301         34310 non-null  int64
 1   V_TIME_AVAILA  34310 non-null  int64
 2   V04292         34310 non-null  int64
 3   V12001_701     34310 non-null  float64
 4   V12001_701_05  34310 non-null  float64
 5   V12001_701_06  34310 non-null  float64
 6   V13004_701     34310 non-null  float64
 7   V13305_701     34310 non-null  float64
 8   V13306_701     34310 non-null  float64
 9   V11002_701     34310 non-null  float64
dtypes: float64(7), int64(3)
memory usage: 2.6 MB