In [1]:
import pandas as pd 
import numpy as np 
import gc

In [2]:
pd.set_option("display.max_column",100)
pd.set_option("expand_frame_repr",False)
df=pd.read_csv(r"D:\文件\学习\数据集\淘宝APP\UserBehavior.csv\train.csv")

In [3]:
df.head()

   1  2268318  2520377  pv  1511544070
0  1  2333346  2520771  pv  1511561733
1  1  2576651   149192  pv  1511572885
2  1  3830808  4181361  pv  1511593493
3  1  4365585  2520377  pv  1511596146
4  1  4606018  2735466  pv  1511616481

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100150806 entries, 0 to 100150805
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   1           int64
 1   2268318     int64
 2   2520377     int64
 3   pv          object
 4   1511544070  int64
dtypes: int64(4), object(1)
memory usage: 3.7+ GB

In [5]:
import gc 
from collections import Counter
import copy

In [6]:
def reduce_mem_usage(df,verbose=True):
    start_mem=df.memory_usage().sum()/1024**2
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    for col in df.columns:
        col_type=df[col].dtypes
        if col_type in numerics:
            c_min=df[col].min()
            c_max=df[col].max()
            if str(col_type)[:3]=="int":
                if c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col]=df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col]=df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col]=df[col].astype(np.int64)
    end_mem=df.memory_usage().sum()/1024**2
    print("压缩前：",start_mem)
    print("压缩后：",end_mem)
    return df

In [7]:
df=reduce_mem_usage(df)

压缩前： 3820.450180053711
压缩后： 2292.2701568603516

In [9]:
gc.collect()

11903

In [10]:
df.head()

   1  2268318  2520377  pv  1511544070
0  1  2333346  2520771  pv  1511561733
1  1  2576651   149192  pv  1511572885
2  1  3830808  4181361  pv  1511593493
3  1  4365585  2520377  pv  1511596146
4  1  4606018  2735466  pv  1511616481