In [1]:
import pandas as pd
import os
import re
import openpyxl
import numpy as np

In [2]:
'''
需求：有一张excel表中有多个sheet，
匹配出所有sheet中含有xiong（不区分大小写），的字段
'''

'\n需求：有一张excel表中有多个sheet，\n匹配出所有sheet中含有xiong（不区分大小写），的字段\n'

In [3]:
#sheet_name=None才可以获取所有的sheet名称
df = pd.read_excel(r'./input.xlsx',sheet_name=None)

In [4]:
#获取workbook中的sheet的名称
sheet_list = list(df)

In [5]:
#获取文件夹中的文件名称
# ls = os.listdir('../ipython项目')

In [6]:
sheet_list

['Sheet1', 'Sheet2', 'Sheet3', 'Sheet4', 'Sheet5']

In [20]:
df1 = pd.read_excel('./input.xlsx',sheet_name='Sheet2')

In [21]:
df1

        name  age
0      xiong   12
1       yuan   32
2      xiong   32
3      xiong   31
4       yuan   23
5  xiaoxiong   13
6      XIONG  123

In [37]:
data = list(df1['name'].values)

In [38]:
data

['xiong', 'yuan', 'xiong', 'xiong', 'yuan', 'xiaoxiong', 'XIONG']

In [53]:
for name in data:
    if re.findall(r'xiong',str.lower(name)):
        name_list = df1[df1['name'] == name]

In [54]:
name_list

    name  age
6  XIONG  123

In [59]:
data_ = df1[df1['name'] == str.lower('xiong')]

In [60]:
data_

    name  age
0  xiong   12
2  xiong   32
3  xiong   31