In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
pd.set_option("display.max_columns",100)
pd.set_option("expand_frame_repr",False)

In [3]:
train_data=pd.read_csv(r"D:\文件\学习\数据集\二手车交易\trainDataAfterCleaning.csv",index_col=False)
test_data=pd.read_csv(r"D:\文件\学习\数据集\二手车交易\testDataAfterCleaning.csv",index_col=False)

In [5]:
train_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149999 entries, 0 to 149998
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             149999 non-null  int64
 1   name               149999 non-null  int64
 2   regDate            149999 non-null  int64
 3   model              149999 non-null  float64
 4   brand              149999 non-null  int64
 5   bodyType           149999 non-null  float64
 6   fuelType           149999 non-null  float64
 7   gearbox            149999 non-null  float64
 8   power              149999 non-null  int64
 9   kilometer          149999 non-null  float64
 10  notRepairedDamage  149999 non-null  float64
 11  regionCode         149999 non-null  int64
 12  seller             149999 non-null  int64
 13  offerType          149999 non-null  int64
 14  creatDate          149999 non-null  int64
 15  v_0                149999 non-null  float64
 16  v_1                149999 non-null  float64
 17  v_2                149999 non-null  float64
 18  v_3                149999 non-null  float64
 19  v_4                149999 non-null  float64
 20  v_5                149999 non-null  float64
 21  v_6                149999 non-null  float64
 22  v_7                149999 non-null  float64
 23  v_8                149999 non-null  float64
 24  v_9                149999 non-null  float64
 25  v_10               149999 non-null  float64
 26  v_11               149999 non-null  float64
 27  v_12               149999 non-null  float64
 28  v_13               149999 non-null  float64
 29  v_14               149999 non-null  float64
 30  price              149999 non-null  int64
dtypes: float64(21), int64(10)
memory usage: 35.5 MB

In [8]:
test_data.head()

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14
0  200000  133777  20000501   67.0      0       1.0       0.0      0.0    101       15.0                0.0        5019       0          0   20160308  42.142061 -3.094739 -0.721300  1.466344  1.009846  0.236520  0.000241  0.105319  0.046233  0.094522  3.619512 -0.280607 -2.019761  0.978828  0.803322
1  200001   61206  19950211   19.0      6       2.0       0.0      0.0     73        6.0                0.0        1505       0          0   20160310  43.907034 -3.244605 -0.766430  1.276718 -1.065338  0.261518  0.000000  0.120323  0.046784  0.035385  2.997376 -1.406705 -1.020884 -1.349990 -0.200542
2  200002   67829  20090606    5.0      5       4.0       0.0      0.0    120        5.0                0.0        1776       0          0   20160309  45.389665  3.372384 -0.965565 -2.447316  0.624268  0.261691  0.090836  0.000000  0.079655  0.073586 -3.951084 -0.433467  0.918964  1.634604  1.027173
3  200003    8892  20020601   22.0      9       1.0       0.0      0.0     58       15.0                0.0          26       0          0   20160314  42.788775  4.035052 -0.217403  1.708806  1.119165  0.236050  0.101777  0.098950  0.026830  0.096614 -2.846788  2.800267 -2.524610  1.076819  0.461610
4  200004   76998  20030301   46.0      6       0.0       0.0      0.0    116       15.0                0.0         738       0          0   20160306  43.670763 -3.135382 -1.134107  0.470315  0.134032  0.257000  0.000000  0.066732  0.057771  0.068852  2.839010 -1.659801 -0.924142  0.199423  0.451014

In [14]:
#特征工程
#查看训练集和测试集的数据重合度
train_name_data=train_data[['name']].copy().drop_duplicates()
test_name_data=test_data[['name']].copy().drop_duplicates()

In [15]:
train_name_data['train_flag']=1
merge_name=test_name_data.merge(train_name_data,on='name',how='left')

In [16]:
merge_name.head()

     name  train_flag
0  133777         NaN
1   61206         NaN
2   67829         NaN
3    8892         1.0
4   76998         NaN

In [17]:
len(merge_name[merge_name['train_flag']==1])/len(train_name_data)

0.08567042273306509

In [18]:
#特征创造
def add_count_new_feature(df,col_name,new_col_name):
    df_group=df[[col_name]]
    df_group[new_col_name]=1
    df_group=df_group.groupby(col_name).agg('sum').reset_index()
    df=df.merge(df_group,on=col_name,how='left')
    return df

In [19]:
#调用方法
train_data=add_count_new_feature(train_data,'name','name_count')
train_data.head()

<ipython-input-18-4c6d8d4cff02>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group[new_col_name]=1

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price  name_count
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850          78
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600          19
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222           2
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400           2
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200           1

In [20]:
train_data=add_count_new_feature(train_data,'brand','brand_count')
train_data.head()

<ipython-input-18-4c6d8d4cff02>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_group[new_col_name]=1

   SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  power  kilometer  notRepairedDamage  regionCode  seller  offerType  creatDate        v_0       v_1       v_2       v_3       v_4       v_5       v_6       v_7       v_8       v_9      v_10      v_11      v_12      v_13      v_14  price  name_count  brand_count
0       0     736  20040402   30.0      6       1.0       0.0      0.0     60       12.5                0.0        1046       0          0   20160404  43.357796  3.966344  0.050257  2.159744  1.143786  0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097 -2.420821  0.795292  0.914762   1850          78        10217
1       1    2262  20030301   40.0      1       2.0       0.0      0.0      0       15.0                0.0        4366       0          0   20160309  45.305273  5.236112  0.137925  1.380657 -1.422165  0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338 -1.030483 -1.722674  0.245522   3600          19        13794
2       2   14874  20040403  115.0     15       1.0       0.0      0.0    163       12.5                0.0        2806       0          0   20160402  45.978359  4.823792  1.319524 -0.998467 -0.996911  0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559  1.565330 -0.832687 -0.229963   6222           2         1458
3       3   71865  19960908  109.0     10       0.0       0.0      1.0    193       15.0                0.0         434       0          0   20160312  45.687478  4.492574 -0.050616  0.883600 -2.228079  0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940 -0.501868 -2.438353 -0.478699   2400           2        14249
4       4  111080  20120103  110.0      5       1.0       0.0      0.0     68        5.0                0.0        6977       0          0   20160313  44.383511  2.031433  0.572169 -1.571239  2.246088  0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783  0.931110  2.834518  1.923482   5200           1         4665